@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    background-color: #eff0f5;
    border-radius: theme('borderRadius.rad8');
    padding: 16px 24px;
    padding-top: 44px;
    box-shadow: theme('boxShadow.cardShadow');
  }

  .btn {
    padding: 18px 30px;
    border-radius: theme('borderRadius.rad8');
    min-whidth: 127px;
    background-color: theme('colors.blue.50');
    color: theme('colors.cardBodyColor');
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  padding: 12px 17px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 48px;
  border-radius: theme('borderRadius.rad8');
  box-shadow: theme('boxShadow.cardShadow');
}

@media (min-width: 1000px) {
  .pagination {
    width: 515px;
  }
}

.page-item {
  font-size: 20px;
  margin: 0 10px;
  color: theme('colors.blue.80');
  font-weight: 600;
}
